<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.user_list') }}">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('article.article_list') }}">Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('author.author_list') }}">Authors</a>
    </li>

    {% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('article.create_article_form') }}">Create Article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('auth.login') }}">Login</a>
    </li>
    {% endif %}

</ul>