{% extends 'base.html' %}
{% from "macros/formhelpers.html" import render_field %}

{% block title %}
Login User
{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}
<form method="POST">
    {{ form.csrf_token }}
    {% for field in ["email", "password"] %}
    {{ render_field(form[field]) }}
    {% endfor %}

    {{ form.submit(class="btn btn-primary") }}

</form>

<a class="" href="{{ url_for('user_bp.register') }}">Registration</a>

{% endblock %}