{% extends 'base.html' %}

{% block title %}
Users list
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>Articles list:</h1>
        <ul>
            {% for article in articles %}

            <li><a href="{{ url_for('article_problem.article_detail', article_id=article.id) }}"
                    class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ article.title }}</a></li>

            {% endfor %}

        </ul>
    </div>
</div>

{% endblock %}