{% extends 'base.html' %}

{% block title %}
Authors list
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>Authors:</h1>
        <ul>
            <li>1</li>
            {% for author in authors %}

            <li><a href="{{ url_for('user_bp.get_user', pk=author.user.id) }}"
                    class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ authors }}</a></li>
            <p>{{ authors }}</p>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}